.content {
  color: #333;
  background: #fff;
  flex: 1;
  display: flex;
}
#menuContainer {
  background: rgb(219, 237, 255);
  width: 180px;
  line-height: 38px;
  font-size: 15px;
  padding: 12px 0px;
}
#menuContainer div {
  cursor: pointer;
  padding-left: 16px;
  border-left: 6px solid transparent;
}
#menuContainer div:hover {
  background: rgb(140, 200, 255);
  color: #fff;
  border-left: 6px solid rgb(121, 184, 255);
}

#menuContainer .menuSelected {
  background: rgb(33, 136, 255) !important;
  color: #fff;
  border-left: 6px solid rgb(0, 92, 197) !important;
  position: relative;
}
#menuContainer .menuSelected::after {
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  right: 0px;
  top: calc(50% - 4px);
  border-top: solid 4px transparent;
  border-right: solid 4px #fff;
  border-bottom: solid 4px transparent;
  content: "";
}
#demoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.demoBtn {
  display: inline-block;
  margin: 8px 8px;
  border-radius: 3px;
  padding: 0px 12px;
  border: 1px solid rgb(140, 200, 255);
  cursor: pointer;
  height: 36px;
  line-height: 36px;
}
.demoBtn:hover {
  background: rgb(33, 136, 255);
  border: 1px solid rgb(33, 136, 255);
  color: #fff;
}
.demoBtn:active {
  background: rgb(3, 102, 214);
  border: 1px solid rgb(3, 102, 214);
  color: #fff;
}
.sectionSelected {
  display: block !important;
}
.section {
  display: none;
  padding: 26px;
  overflow-y: auto;
  flex: 1;
}
.demoToolBtn {
  position: absolute;
  bottom: 18px;
  padding: 0px 8px;
  line-height: 30px;
  background: rgb(33, 136, 255);
  color: white;
  box-shadow: 2px 2px 8px 0px #888;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}
.demoToolBtn:hover {
  box-shadow: 2px 2px 3px 0px #333;
  background: rgb(3, 102, 214);
}
.consoleContainer {
  height: 300px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}
.drager {
  height: 6px;
  background: #efefef;
  cursor: row-resize;
}
.console {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 68px;
  overflow-x: hidden;
}
.logDom {
  font-size: 12px;
  border-bottom: 1px solid rgb(219, 237, 255);
  line-height: 20px;
  padding: 6px;
  position: relative;
}
/* .logDom::before {
  content: ">";
  color: rgb(3, 102, 214);
  position: absolute;
  left: 0px;
} */
