.content {
  color: rgb(0, 122, 204);
  flex: 1;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.title {
  font-size: 66px;
  padding-bottom: 60px;
}
.version {
  line-height: 32px;
}
.link {
  line-height: 32px;
  display: flex;
}
.link div {
  margin: 0px 12px;
  text-decoration: underline;
  cursor: pointer;
}
