html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Microsoft Yahei", -apple-system, Ubuntu, sans-serif;
  font-size: 13px;  
  user-select: none;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
#app{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
}

.demoBtn {
  display: inline-block;
  margin: 8px 8px;
  border-radius: 3px;
  padding: 0px 12px;
  border: 1px solid rgb(140, 200, 255);
  cursor: pointer;
  height: 36px;
  line-height: 36px;
}
.demoBtn:hover {
  background: rgb(33, 136, 255);
  border: 1px solid rgb(33, 136, 255);
  color: #fff;
}
.demoBtn:active {
  background: rgb(3, 102, 214);
  border: 1px solid rgb(3, 102, 214);
  color: #fff;
}