@font-face {
  font-family: 'iconfont';
  src: url('iconfont.ttf?t=1631061990864') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.horse-close:before {
  content: '\e6e6';
}

.horse-minimize:before {
  content: '\e6e7';
}

.horse-restore:before {
  content: '\e6e8';
}

.horse-maximize:before {
  content: '\e6e5';
}
